@import '~bootstrap/less/bootstrap.less';
@import 'geonode-legacy.less';
@import 'ms-theme.less';
@import '_base.less';

@import '_card-grid.less';
@import '_datasets-catalog.less';
@import '_details-panel.less';
@import '_filter-by-extent.less';
@import '_filter-form.less';
@import '_footer.less';
@import '_hero.less';
@import '_layer-settings.less';
@import '_legend.less';
@import '_loader.less';
@import '_main-event.less';
@import '_menu.less';
@import '_resource-card.less';
@import '_resources-grid.less';
@import '_search-bar.less';
@import '_share.less';
@import '_spinner.less';
@import '_home-container.less';
@import '_sub-flat-menu.less';
@import '_upload.less';
@import '_visual-style-editor.less';

@import '_mixins.less';
@import '_bootstrap-variables.less';
@import '_variables.less';
@import '_media-viewer.less';

@import '~font-awesome/css/font-awesome.min.css';
@import '~ol/ol.css';

:root {
    font-size: 16px;
}

// compose theme based on mapstore and custom components
.write-ms-theme(@gn-theme-vars);
#gn-base-components-theme(@gn-theme-vars);
#gn-components-theme(@gn-theme-vars);


#tabular-preview {

    div {
        overflow: auto; /* make the table scrollable if height is more than 200 px  */
        height: calc(100vh - 150px); /* gives an initial height of 200px to the table */
        width: calc(100vw - 10px);
    }

    .tableFixHead thead th {
        position: sticky; /* make the table heads sticky */
        top: 0px; /* table head will be placed from the top of the table and sticks to it */
    }

    table {
        border-collapse: collapse; /* make the table borders collapse to each other */
        width: 100%;
    }

    th,
    td {
        padding: 8px 16px;
        border: 1px solid #ccc;
    }

    th {
        background: #eee;
    }
}

#mapstore-drawermenu {

    .mapstore-toc {

        .toc-default-layer-head {
            display: flex;
            .toc-title {
                flex: 1;
                min-width: auto;
                max-width: none;
                width: auto;
                &:hover {
                    font-weight: inherit;
                }
            }
        }
        .toc-default-group-head {
            display: flex;
            > div {
                flex: 1;
                display: flex;
                max-width: calc(100% - 40px);
                .toc-group-title {
                    flex: 1;
                    min-width: auto;
                    max-width: none;
                    width: auto;
                    &:hover {
                        font-weight: inherit;
                    }
                }
            }
        }

        // display title on multiple lines
        .toc-default-layer-head {
            min-height: 40px;
            height: auto;
            .toc-title {

                word-break: normal;
                overflow-wrap: anywhere;
                hyphens: auto;

                overflow: visible;
                white-space: inherit;
                height: auto;
            }
            
        }
        .toc-default-group-head {
            min-height: 40px;
            height: auto;
            > div {
                .toc-group-title {

                    word-break: normal;
                    overflow-wrap: anywhere;
                    hyphens: auto;

                    overflow: visible;
                    white-space: inherit;
                    height: auto;
                }
            }
        }
    }
}

